/*Universal Styles*/

html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: "Helvetica", sans-serif;
}

h1,
h4 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*Header Section*/

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: cadetblue;
  height: 3rem;
}

header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

header img {
  height: 1.5rem;
}

header span {
  padding-left: 1rem;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

header li {
  padding-left: 2rem;
}

/*Main Section*/

.main {
  height: 31rem;
  width: 100%;
  background-image: url(../images/glasses-bg.png);
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
}

.main .slogan {
  display: flex;
  float: right;
  background-color: white;
  padding: 0 2rem;
  position: relative;
  top: 10rem;
  right: -2rem;
}

.main .slogan h1 {
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 3rem;
}

/*Services Section*/

.featured .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.featured .service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  text-align: center;
  padding: 0 3rem;
}

#paper {
  width: 3.5rem;
}

#ruler,
#truck {
  width: 5rem;
}

/*Description Section*/

.description .container {
  display: flex;
  justify-content: center;
}

.description .box {
  width: 35%;
  padding-right: 5%;
  padding-bottom: 5rem;
}

.description .title {
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.description p {
  padding-top: 1rem;
}

/*Footer Section*/

.footer .container {
  position: relative;
  background-color: azure;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 4rem 4rem 0;
}

.footer img {
  height: 1.5rem;
  padding: 0 1rem 0 4rem;
}

/*Desktop Media Query*/

@media only screen and (min-width: 751px) {

  /*Header Section*/

  header .menu {
    display: none;
  }

}


/*Tablet Media Query*/

@media only screen and (max-width: 1024px) {

  /*Header Section*/

  header .container {
    max-width: 100%;
  }

  /*Main Section*/

  .main {
    height: 22rem;
    padding-top: 0;
  }

  /*Slogan Subsection*/

  .main .slogan {
    position: relative;
    top: 5rem;
    right: 2rem;
    /*padding-right: 2rem;*/
  }

  .main .slogan h1 {
    font-size: 1.33rem;
    padding: 1.75rem 4rem;
  }

}

/*Landscape Mobile Query*/

@media only screen and (max-width: 750px) {

  /*Header Section*/

  header .navbar {
    display: none;
  }

  /*Main Section*/

  .main {
    background-position: 20%
  }

  /*Slogan Subsection*/

  .main .slogan {
    position: relative;
    top: 12rem;
  }

  .main .slogan h1 {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

}

/*Portrait Mobile Screen*/

@media only screen and (max-width: 470px) {

  /*Header Section*/

  header span {
    display: none;
  }

  /*Main Section*/

  .main {
    height: 17rem;
  }

  /*Slogan Subsection*/

  .main .slogan {
    position: relative;
    right: 0;
    top: 9rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0;
  }

  .main .slogan h1 {
    font-size: 1rem;
    padding: 0.75rem 0;
  }

  /*Services Section*/

  .featured .container {
    flex-direction: column;
    padding: 2.77rem 0 3.77rem 0;
  }

  .featured .service {
    font-size: 0.77rem;
    height: 7rem;
    justify-content: center;
    margin-top: 1rem;
  }

  .featured p {
    margin-top: 1rem;
  }

  /*Description Section*/

  .description .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description .title {
    width: 100%;
    text-align: center;
  }

  .description p {
    font-size: 0.77rem;
    width: 90%;

  }

  /*Footer Section*/

  .footer .container {
    justify-content: center;
    padding: 4rem 0;
  }

  .footer img {
    padding: 0;
  }

  .footer span {
    display: none;
  }

}
